/* Custom Stylesheet */

/* CSS alterações
Por:- Flavio Fernando Borato */
 .h4c{
  font-size: 35px;
  text-align: center;
  height: auto;
  color: #2ce28d;
}

 .lbl_c{
  font-size: 25px;
  height: auto;
  color: #2ce28d;
}

.inp_c{
  text-align: center;
  color: #2ce28d;
  background-color: #575744;
  font: bolder;
}

.inp_cb{
  font-size: 15px;
  text-align: center;
  height: auto;
  background-color: #05311d;
  color: #eaf73f;
}

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: rgb(27, 23, 240);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(38, 248, 48, 0.829);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block-2 {
  padding: 0 80px;
 
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
